<table border="2" cellspacing="0" cellpadding="1" bordercolor="blue" style="width: 50%; height: 50%">
             <caption>Tabel Sederhana</caption>
             <tr>
                 <th colspan="2">
                    Tabel Mahasiswa
                 </th>
             </tr>
             <tr >
                 <td><b>Jimy Fazrial</b></td>
                 <td><b>2000018451</b> </td>
            </tr>
             <tr >
                 <td>Jimy</td>
                 <td>123</td>
             </tr>
             <tr >
                <td>Farid</td>
                <td>124</td>
            </tr>
            <tr >
                <td>fajar</td>
                <td>128</td>
            </tr>
         </table>